* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  /* max-width: 100vh; */
}
h1 {
  text-align: center;
}
main {
  max-width: 90%;
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(8, auto);
}
.row-odd,
.row-even {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(8, auto);
  height: 87px;
}
.square {
  width: 87px;
}
.row-odd .square:nth-of-type(even),
.row-even .square:nth-of-type(odd) {
  background-color: #7a995b;
}
.row-even .square:nth-of-type(even),
.row-odd .square:nth-of-type(odd) {
  background-color: #efefd3;
}

.row-even .square.available-square,
.row-odd .square.available-square {
  background-color: red;
}
