* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  /* max-width: 100vh; */
}
h1 {
  text-align: center;
}
main {
  max-width: 90%;
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(8, auto);
}
.row-odd,
.row-even {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(8, auto);
  height: 87px;
}
.square {
  width: 87px;
  height: 87px;
}
.square img {
  width: 100%;
  position: relative;
}

.row-odd .square:nth-of-type(even),
.row-even .square:nth-of-type(odd) {
  background-color: #7a995b;
}
.row-even .square:nth-of-type(even),
.row-odd .square:nth-of-type(odd) {
  background-color: #efefd3;
}

.row-even .square.available-square,
.row-odd .square.available-square {
  position: relative;
}
.row-odd .square.available-square-capture,
.row-even .square.available-square-capture {
  background-color: red;
}
.square.available-square::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;

  background: rgba(0, 0, 255, 64%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
